Final_Node-Red.json
[{"id":"e9c16e0d.89e62","type":"tab","label":"Job data gathering","disabled":false,"info":""},{"id":"ce8b0ac3.2bf518","type":"tab","label":"Calcultion workflow","disabled":false,"info":""},{"id":"e987539d.b0c23","type":"tab","label":"Output results","disabled":false,"info":""},{"id":"1a0c152d.d2bceb","type":"tab","label":"Calculate only Amesims","disabled":false,"info":""},{"id":"7e05b5d6.e2f734","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"7d027004.da49f","type":"group","z":"ce8b0ac3.2bf518","name":"Global Inputs","style":{"stroke":"#ffffff","label":true,"fill":"#bfdbef","label-position":"sw","color":"#ff0000"},"nodes":["415fe67b.e9b3d8","4f3d380f.d2e738","13db04de.9e22bb","e0115372.c4cfd","877e56e9.e172d8","7bd2191e.b6f1a8"],"x":74,"y":679,"w":412,"h":390},{"id":"871b0bca.f5a4c8","type":"group","z":"ce8b0ac3.2bf518","name":"Structure calculations","style":{"stroke":"#ffff3f","fill":"#92d04f","label":true,"label-position":"ne","color":"#ff0000"},"nodes":["7c42fd35.7163e4","5ec2673f.550e58","c19c2bc6.77a508","1275d71b.453319","c065d027.58244","c5b6c42f.879d88","a9985558.eceeb8","101856f9.5dcb09","e364beb5.e65ee","aacbe4b3.c41f08","5eb9682e.cd7438","8b4d94fe.f376f8","cb10d23d.fd779","c8362d11.0e616","e48d57cf.72c528","294bca0c.b80196","298af6ae.00f7ea","6407d78.5b55828","b17c06f9.c47f98"],"x":934,"y":99,"w":1652,"h":282},{"id":"b799269b.48a7c8","type":"group","z":"ce8b0ac3.2bf518","name":"Energy subsystem","style":{"fill":"#c8e7a7","label":true,"label-position":"sw","color":"#ff0000"},"nodes":["1e39ec6e.a60b04","b96a083c.13d438","98a6c121.f4ad9","524effd6.9112d","6a63b99.9619d48","97ed3786.73c638","a6f1fc6f.ce7fe","22559e27.704532","cfeda296.c3176","e621a617.4db6e8","c532ddda.38682","e4f60d8f.e5d9e","2dcf0818.e9c218","7d34af68.9e682","150d8a4.555e876","c19a357c.3b5ec8","797b4373.ea22ac","4879e9e1.e90d18","31f14202.b5eebe","121986d8.100a69","e730cd89.c9008","4a71de4.17b102","b882deb6.727b4","5bed4fd0.35b7f","bdd912bd.b00bb","86532a3d.4302c8","cdd6d9f6.260628","e3cdc750.ac5508","66aaea91.fd1b14","d0fa9aab.6af0e8","2168672f.4f2fa8","4f4e217e.69fa5","acc60986.142b98","6b744112.8cbbc","eb659659.c41478","947a1e29.42988","e4d9643.ffc7598","6b4810c7.20b7d","131a04ed.2c47db","5af86645.f9a418","8dd42788.deef58","5adfdf1c.8d0ae","eaf67c7c.10e87","27d4dde9.303802","618173bc.46314c","6e4ee450.c8837c","9138f93e.5d9958","4cb60168.34112","12697fa0.bd68a","20bafaef.bfec46","9b19dc8f.90842","ec981740.704588","bed639af.152c58","63aa7f50.08c8","8f152507.b61898","4412b51a.94a4dc","aacc9d3b.77c42","5b0859da.a94bf8","a49f739f.20f2","488f4367.c99efc","136ff44f.b1fdfc","150ab534.d43bbb","3ee241e3.0cd26e","a645c1a8.7d634","343b7465.1bbfec","b8d601e0.04ae2","e5bfd685.ca77f8","bbfd6029.b5e5","2f09ae3e.e6a972","f8548801.767098","8a1d54e8.d69df8","14c583a6.2ecd3c","a9cfeebb.06f73"],"x":694,"y":1599,"w":2212,"h":1110},{"id":"f49e0116.5a674","type":"group","z":"ce8b0ac3.2bf518","name":"Proplsion subsystem","style":{"stroke":"#bfc7d7","label":true,"fill":"#dbcbe7","label-position":"ne","color":"#ff0000"},"nodes":["1d353027.929db","3b16b6d3.02193a","890e075e.d21758","7a7b0591.4d5f5c","8b7ffef0.898b3","a3a424a5.9daa98","cfe62ee5.278b9","fab92056.d25ae","31098a09.7c32c6","f299c872.5f7628","a353e0c1.e432b","f9176751.c1b6e8","dcc9410d.3f0dc","3a4cebd2.e53404","2879bd57.95c482","2019d265.39020e","a90724e.804abd8","7df3a407.bb7b5c","4ed47a74.205aa4","e4acd5af.3177d8","6eb048f0.1dd9c8","bcdbc3cf.39e57","617156f6.ecbd18","5d78f1c1.36524","cedf7fa6.dc255","fba02e7.97dd5d","a4615fcc.1faa2","cd7067db.9c7c08","a41cfb8c.363df8","33436980.c4c576","ceb3c8b4.096ff8","c0c3b27a.a6174","b3b1077b.cf4468","99df1945.a65e98","91c0b18b.a4d48","26ce9f0b.9ed4b","5a693868.7bd368","436631b5.e1a1b","a58ea0f2.0aea6","3c7692ab.e895ae"],"x":954,"y":539,"w":1492,"h":902},{"id":"600efc8e.a55dd4","type":"group","z":"ce8b0ac3.2bf518","name":"Global outputs","style":{"fill":"#bfdbef","label":true,"stroke":"#bfdbef","label-position":"ne","color":"#ff0000"},"nodes":["435d503b.c0a6","5ab6ce17.aadba","3b307046.7c94a","1485ccea.f1ff13","2e70ee04.5c19f2","840d037e.6c6cc","529879f2.78eaa8","58aa571d.25e338","c9d5ff9f.908df","fba36d6f.c242","ba28e5a0.bf5258","74ff5efe.25ead"],"x":2994,"y":479,"w":862,"h":762},{"id":"d4ecf3c0.22764","type":"debug","z":"e9c16e0d.89e62","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":480,"wires":[]},{"id":"ac503588.b8d618","type":"file in","z":"e9c16e0d.89e62","name":"Load data","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":560,"y":480,"wires":[["7edceff.9a7ba1"]],"info":"# dsadsad\n### fdsfcsssssss"},{"id":"7edceff.9a7ba1","type":"json","z":"e9c16e0d.89e62","name":"Convert to dict","property":"payload","action":"obj","pretty":false,"x":760,"y":480,"wires":[["d4ecf3c0.22764","7539b9f6.093688","68f65520.5dedec"]]},{"id":"e612da9b.78d588","type":"change","z":"e9c16e0d.89e62","name":"Set params","rules":[{"t":"set","p":"scripts_path","pt":"global","to":"C:/Users/plmadmin/Desktop/PLM/Optimization/","tot":"str"},{"t":"set","p":"project_path","pt":"global","to":"C:/Users/plmadmin/Desktop/PLM/Optimization/Project_folder/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[["e14201c.566a"]],"icon":"node-red/db.svg"},{"id":"2795178d.ad5138","type":"debug","z":"e9c16e0d.89e62","name":"No start flag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"6e773f60.72adc","type":"inject","z":"e9c16e0d.89e62","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":240,"wires":[["e612da9b.78d588"]]},{"id":"43aa0415.4c664c","type":"file","z":"e9c16e0d.89e62","name":"Delete start flag","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1080,"y":200,"wires":[["7d4da267.2e31ac"]],"icon":"font-awesome/fa-remove"},{"id":"400c1adc.6262b4","type":"fs-ops-access","z":"e9c16e0d.89e62","name":"Test start_flag","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":840,"y":240,"wires":[["43aa0415.4c664c"],["2795178d.ad5138"]],"outputLabels":["start_flag exists","no start_flag"]},{"id":"e14201c.566a","type":"function","z":"e9c16e0d.89e62","name":"Prepare start_flag path","func":"msg.filename = global.get(\"project_path\")+\"start_flag\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":240,"wires":[["400c1adc.6262b4"]]},{"id":"7d4da267.2e31ac","type":"link out","z":"e9c16e0d.89e62","name":"Start_calcultion_in","links":["257c3cad.259284"],"x":1215,"y":200,"wires":[]},{"id":"257c3cad.259284","type":"link in","z":"e9c16e0d.89e62","name":"Start_calculation_out","links":["7d4da267.2e31ac"],"x":155,"y":480,"wires":[["f6727b5c.912088","79f4bd56.7b3174"]]},{"id":"f6727b5c.912088","type":"function","z":"e9c16e0d.89e62","name":"Prepare data path","func":"msg.filename = global.get(\"project_path\")+\"data.dat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":480,"wires":[["ac503588.b8d618"]]},{"id":"79f4bd56.7b3174","type":"debug","z":"e9c16e0d.89e62","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":560,"wires":[]},{"id":"7539b9f6.093688","type":"link out","z":"e9c16e0d.89e62","name":"Param_dict_out","links":["59967505.f314cc","10a1722e.5e68de","9724ddd5.e7c908","a90724e.804abd8","534cb61a.d679a8","47b75a68.e333f4","ef2ede9a.eab078","5b740fa8.a90b28","758836ed.690108","e5bddcf4.bed48","3b1f268.41be4da","7bd2191e.b6f1a8"],"x":945,"y":440,"wires":[]},{"id":"415fe67b.e9b3d8","type":"change","z":"ce8b0ac3.2bf518","g":"7d027004.da49f","name":"arms number","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arms_number","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"arms_number","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":800,"wires":[["890e075e.d21758","f9176751.c1b6e8","2019d265.39020e","b17c06f9.c47f98"]],"icon":"font-awesome/fa-sign-in"},{"id":"4f3d380f.d2e738","type":"change","z":"ce8b0ac3.2bf518","g":"7d027004.da49f","name":"total mass","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.total_mass","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"total_mass","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":720,"wires":[["1d353027.929db","bcdbc3cf.39e57","12697fa0.bd68a","91c0b18b.a4d48","529879f2.78eaa8"]],"icon":"font-awesome/fa-sign-in"},{"id":"1d353027.929db","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Full_Force","func":"let full_force = msg.payload*2*9.8\nmsg.payload = full_force;\nmsg.topic=\"full_force\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1020,"wires":[["890e075e.d21758"]]},{"id":"3b16b6d3.02193a","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"arm_force","func":"let arm_force = msg.payload.full_force / msg.payload.arms_number;\nmsg.payload = arm_force;\nmsg.topic = \"arm_force\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1140,"wires":[["7a7b0591.4d5f5c","fab92056.d25ae","101856f9.5dcb09"]]},{"id":"890e075e.d21758","type":"join","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":1140,"wires":[["3b16b6d3.02193a"]]},{"id":"7a7b0591.4d5f5c","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Propeller diameter","func":"let propeller_diameter= 0.0466*Math.sqrt(msg.payload)\n//Saving calculation results to message payload\nmsg.payload = propeller_diameter\n//Returning new payload in message\nmsg.topic=\"propeller_diameter\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":1080,"wires":[["8b7ffef0.898b3","a3a424a5.9daa98","b17c06f9.c47f98","6407d78.5b55828"]],"icon":"font-awesome/fa-arrows-v"},{"id":"8b7ffef0.898b3","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"propeller mass estimation polycarbonate","func":"let propeller_mass_estimation_polycarbonate = 3.0504*Math.pow(msg.payload,3)-1.0018*Math.pow(msg.payload,2)+0.1267*msg.payload-0.0021\n//Saving calculation results to message payload\nmsg.payload = propeller_mass_estimation_polycarbonate\n//Returning new payload in message\nmsg.topic = \"propeller_mass_estimation_polycarbonate\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":1020,"wires":[["2019d265.39020e"]],"icon":"node-red/leveldb.png","info":"in kg"},{"id":"a3a424a5.9daa98","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"propeller mass estimation nylon","func":"let propeller_mass_estimation_nylon = 0.6084*Math.pow(msg.payload,2.3932)\n//Saving calculation results to message payload\nmsg.payload = propeller_mass_estimation_nylon\n//Returning new payload in message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":1120,"wires":[[]],"icon":"node-red/leveldb.png"},{"id":"cfe62ee5.278b9","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Power per arm","func":"let power_arm = msg.payload.arm_force / msg.payload.thrust_power\nmsg.payload =power_arm;\nmsg.topic=\"power_arm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":1220,"wires":[["31098a09.7c32c6","f299c872.5f7628","f9176751.c1b6e8"]],"icon":"node-red/light.svg"},{"id":"fab92056.d25ae","type":"join","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":1160,"wires":[["cfe62ee5.278b9"]]},{"id":"31098a09.7c32c6","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"weight of motor(kg)","func":"let weight_dc_motor  = (0.1006*msg.payload + 58.281)/1000\nmsg.payload =weight_dc_motor;\nmsg.topic = \"weight_dc_motor\";\nreturn msg;\n    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":1260,"wires":[["2019d265.39020e"]],"icon":"node-red/leveldb.png"},{"id":"f299c872.5f7628","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Voltage of the motor","func":"let voltage_dc_motor = 0.0175*msg.payload + 0.5932\nmsg.payload =voltage_dc_motor;\nreturn msg;\n    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":1160,"wires":[[]],"icon":"font-awesome/fa-life-buoy"},{"id":"a353e0c1.e432b","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Total Propulsion Power Consumption(W)","func":"total_propulsion_power = msg.payload.safety_factor*msg.payload.arms_number* msg.payload.power_arm\nmsg.payload = total_propulsion_power;\nmsg.topic=\"total_propulsion_power\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1280,"wires":[[]],"icon":"node-red/light.svg"},{"id":"f9176751.c1b6e8","type":"join","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":1280,"wires":[["a353e0c1.e432b"]]},{"id":"dcc9410d.3f0dc","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Total mass propulsion system (kg)","func":"let total_prop_mass = msg.payload.safety_factor*msg.payload.arms_number*(msg.payload.propeller_mass_estimation_polycarbonate+msg.payload.weight_dc_motor + msg.payload.mass_electronic_speed_controller)\nmsg.payload = total_prop_mass;\nmsg.topic=\"total_prop_mass\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":1340,"wires":[["12697fa0.bd68a"]],"icon":"node-red/leveldb.png"},{"id":"3a4cebd2.e53404","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"length electronic speed controller","func":"let length_electronic_speed_controller = (-0.003*Math.pow(msg.payload,2)+0.6171*msg.payload+21.624)/1000 \n//Saving calculation results to message payload\nmsg.payload = length_electronic_speed_controller\n//Returning new payload in message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1380,"wires":[[]],"icon":"node-red/leveldb.png","info":"in meter"},{"id":"2879bd57.95c482","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"mass of electronic speed controller","func":"let mass_electronic_speed_controller = (-0.0039*msg.payload*msg.payload+1.2254*msg.payload -3.6323)/1000\n//Saving calculation results to message payload\nmsg.payload = mass_electronic_speed_controller;\n//Returning new payload in message\nmsg.topic = \"mass_electronic_speed_controller\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1340,"wires":[["2019d265.39020e"]],"icon":"node-red/leveldb.png","info":"in kg"},{"id":"2019d265.39020e","type":"join","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1830,"y":1340,"wires":[["dcc9410d.3f0dc"]]},{"id":"7c42fd35.7163e4","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"From center to propeller","func":"let center_propeller=(1.05*msg.payload.propeller_diameter)/(2*Math.cos(((Math.PI-(2*Math.PI)/msg.payload.arms_number))*0.5));\nmsg.payload=center_propeller;\nmsg.topic = \"center_propeller\"\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":320,"wires":[["c5b6c42f.879d88"]],"icon":"font-awesome/fa-arrows-v"},{"id":"5ec2673f.550e58","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"correction size of platform parameter","func":"let platform_parameter= 1.3;\nmsg.payload =  platform_parameter;\nmsg.topic = \"platform_parameter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":260,"wires":[["c19c2bc6.77a508","8b4d94fe.f376f8"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"c19c2bc6.77a508","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Radius of platform","func":"let platform_radius = msg.payload*0.176;\nmsg.payload = platform_radius;\nmsg.topic=\"platform_radius\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":280,"wires":[["c5b6c42f.879d88","c8362d11.0e616"]],"icon":"font-awesome/fa-arrows-v"},{"id":"1275d71b.453319","type":"link in","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Param_dict_in","links":["7539b9f6.093688"],"x":975,"y":200,"wires":[["5ec2673f.550e58","e364beb5.e65ee","aacbe4b3.c41f08","5eb9682e.cd7438"]]},{"id":"c065d027.58244","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Length of one arm","func":"let arm_length = msg.payload.center_propeller - msg.payload.platform_radius;\nmsg.payload=arm_length;\nmsg.topic=\"arm_length\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":300,"wires":[["101856f9.5dcb09","c8362d11.0e616"]],"icon":"font-awesome/fa-arrows-h"},{"id":"c5b6c42f.879d88","type":"join","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":300,"wires":[["c065d027.58244"]]},{"id":"a9985558.eceeb8","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Mass of one arm(kg)","func":"let arm_mass = (4*msg.payload.arm_length*msg.payload.material_density*msg.payload.arm_force)/(msg.payload.maximum_stress*msg.payload.arm_diameter);\nmsg.payload=arm_mass;\nmsg.topic=\"arm_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":160,"wires":[["294bca0c.b80196"]],"icon":"node-red/leveldb.png"},{"id":"101856f9.5dcb09","type":"join","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1730,"y":160,"wires":[["a9985558.eceeb8"]]},{"id":"e364beb5.e65ee","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"material density (kg/m^3)","func":"let material_density= 1600;\nmsg.payload =  material_density;\nmsg.topic = \"material_density\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":220,"wires":[["101856f9.5dcb09"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"aacbe4b3.c41f08","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"maximum stress (Pa)","func":"let maximum_stress= 300000000\nmsg.payload =  maximum_stress;\nmsg.topic = \"maximum_stress\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":180,"wires":[["101856f9.5dcb09"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"5eb9682e.cd7438","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"diameter of an arm","func":"let arm_diameter= 0.0018;\nmsg.payload =  arm_diameter;\nmsg.topic = \"arm_diameter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":140,"wires":[["101856f9.5dcb09"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"8b4d94fe.f376f8","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Mass of the central platform (kg)","func":"let mass_central_platform= msg.payload*msg.payload*0.859;\nmsg.payload =  mass_central_platform;\nmsg.topic = \"mass_central_platform\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":240,"wires":[["294bca0c.b80196"]],"icon":"node-red/leveldb.png"},{"id":"cb10d23d.fd779","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Size of the frame (m)","func":"let size_of_frame =2*(msg.payload.platform_radius+msg.payload.arm_length)\nmsg.payload=size_of_frame;\nmsg.topic=\"size_of_frame\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2460,"y":300,"wires":[["6407d78.5b55828"]],"icon":"font-awesome/fa-arrows-v"},{"id":"c8362d11.0e616","type":"join","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2190,"y":300,"wires":[["cb10d23d.fd779"]]},{"id":"e48d57cf.72c528","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Mass of the frame (kg)","func":"let frame_mass = msg.payload.mass_central_platform+6*msg.payload.arm_mass\nmsg.payload=frame_mass;\nmsg.topic=\"frame_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2460,"y":240,"wires":[["12697fa0.bd68a"]],"icon":"node-red/leveldb.png"},{"id":"294bca0c.b80196","type":"join","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2190,"y":240,"wires":[["e48d57cf.72c528"]]},{"id":"b17c06f9.c47f98","type":"join","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":320,"wires":[["7c42fd35.7163e4"]]},{"id":"298af6ae.00f7ea","type":"function","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"size of the drone (m)","func":"let size_of_drone =msg.payload.propeller_diameter+msg.payload.size_of_frame;\nmsg.payload=size_of_drone;\nmsg.topic=\"size_of_drone\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2460,"y":340,"wires":[["3b307046.7c94a"]],"icon":"font-awesome/fa-arrows-v"},{"id":"6407d78.5b55828","type":"join","z":"ce8b0ac3.2bf518","g":"871b0bca.f5a4c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2190,"y":340,"wires":[["298af6ae.00f7ea"]]},{"id":"a90724e.804abd8","type":"link in","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Param_dict_in","links":["7539b9f6.093688"],"x":995,"y":1300,"wires":[["7df3a407.bb7b5c","4ed47a74.205aa4","e4acd5af.3177d8"]]},{"id":"7df3a407.bb7b5c","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"thrust to power ration (N/W)","func":"let thrust_power = 0.085\nmsg.payload = thrust_power\nmsg.topic = \"thrust_power\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1220,"wires":[["fab92056.d25ae"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"4ed47a74.205aa4","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"safety factor","func":"let safety_factor = 1.1\nmsg.payload = safety_factor\nmsg.topic = \"safety_factor\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1340,"wires":[["f9176751.c1b6e8","2019d265.39020e","91c0b18b.a4d48"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"e4acd5af.3177d8","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"max current (A)","func":"let max_current = 100\nmsg.payload = max_current\nmsg.topic = \"max_current\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1400,"wires":[["2879bd57.95c482","3a4cebd2.e53404"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"5fd453eb.f97e0c","type":"link in","z":"e987539d.b0c23","name":"","links":["74ff5efe.25ead","8d8642a8.2d1f1","467e0c8c.221134"],"x":245,"y":460,"wires":[["3c64510e.fcb16e","51983ef8.ec992"]]},{"id":"3c64510e.fcb16e","type":"json","z":"e987539d.b0c23","name":"","property":"payload","action":"str","pretty":false,"x":440,"y":460,"wires":[["151720ce.76259f"]]},{"id":"4fb6d658.be13f8","type":"file","z":"e987539d.b0c23","name":"Save results in file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":890,"y":460,"wires":[["3605f4da.12583c"]]},{"id":"151720ce.76259f","type":"function","z":"e987539d.b0c23","name":"Prepare data path","func":"msg.filename = global.get(\"project_path\")+\"results.dat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":460,"wires":[["4fb6d658.be13f8"]]},{"id":"3605f4da.12583c","type":"function","z":"e987539d.b0c23","name":"Prepare data path","func":"msg.filename = global.get(\"project_path\")+\"finish_flag\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":460,"wires":[["1eb92e7c.391ea2"]]},{"id":"1eb92e7c.391ea2","type":"file","z":"e987539d.b0c23","name":"Create finish flag","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1370,"y":460,"wires":[[]]},{"id":"13db04de.9e22bb","type":"change","z":"ce8b0ac3.2bf518","g":"7d027004.da49f","name":"power of fuel cell stack","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power_fuel_stack","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"power_fuel_stack","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":960,"wires":[["20bafaef.bfec46"]],"icon":"font-awesome/fa-sign-in"},{"id":"e0115372.c4cfd","type":"change","z":"ce8b0ac3.2bf518","g":"7d027004.da49f","name":"capacity of battary","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_capacity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"battery_capacity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1020,"wires":[["20bafaef.bfec46"]],"icon":"font-awesome/fa-sign-in"},{"id":"877e56e9.e172d8","type":"change","z":"ce8b0ac3.2bf518","g":"7d027004.da49f","name":"number of mission","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mission_number","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"mission_number","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":880,"wires":[["617156f6.ecbd18"]],"icon":"font-awesome/fa-sign-in"},{"id":"6eb048f0.1dd9c8","type":"exec","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Flight dycamics model","x":1960,"y":920,"wires":[["436631b5.e1a1b"],["436631b5.e1a1b"],[]]},{"id":"bcdbc3cf.39e57","type":"join","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1550,"y":920,"wires":[["cedf7fa6.dc255"]]},{"id":"617156f6.ecbd18","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"relative mission path","func":"if (msg.payload == 1){\n    msg.payload = \"Missions/mission1.data\";\n    msg.topic=\"mission_path\";\n    return msg;\n}\nif (msg.payload == 2){\n    msg.payload = \"Missions/mission2.data\";\n    msg.topic=\"mission_path\";\n    return msg;\n}\nif (msg.payload == 3){\n    msg.payload = \"Missions/mission3.data\";\n    msg.topic=\"mission_path\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":940,"wires":[["bcdbc3cf.39e57","fba02e7.97dd5d"]]},{"id":"5d78f1c1.36524","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"base path","func":"msg.payload = global.get(\"scripts_path\");\nmsg.topic=\"base_path\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":880,"wires":[["bcdbc3cf.39e57","20bafaef.bfec46"]]},{"id":"cedf7fa6.dc255","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"propolsion amesim","func":"let command_string = \"python \" + msg.payload.base_path + \"Scripts/amesim_runner_script_py/Flight2/main.py \"+msg.payload.base_path+\" \"+msg.payload.mission_path+\" \"+msg.payload.total_mass; \nmsg.payload = command_string; \nmsg.topic=\"command_string\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":920,"wires":[["6eb048f0.1dd9c8","a4615fcc.1faa2"]]},{"id":"fba02e7.97dd5d","type":"debug","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":880,"wires":[]},{"id":"a4615fcc.1faa2","type":"debug","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1930,"y":860,"wires":[]},{"id":"cd7067db.9c7c08","type":"debug","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":1280,"wires":[]},{"id":"1e39ec6e.a60b04","type":"link in","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Param_dict_in","links":["7539b9f6.093688"],"x":735,"y":1900,"wires":[["b96a083c.13d438","98a6c121.f4ad9","22559e27.704532","cfeda296.c3176","e621a617.4db6e8","2dcf0818.e9c218","7d34af68.9e682","4879e9e1.e90d18","86532a3d.4302c8","cdd6d9f6.260628"]]},{"id":"b96a083c.13d438","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"field area(ha)","func":"let field_area = 10\nmsg.payload = field_area\nmsg.topic = \"field_area\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1640,"wires":[["6a63b99.9619d48"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"98a6c121.f4ad9","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"fertilizer consumption(L/ha)","func":"let fertilizer_consumption= 1\nmsg.payload = fertilizer_consumption\nmsg.topic = \"fertilizer_consumption\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1700,"wires":[["524effd6.9112d"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"524effd6.9112d","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"rate of agent spay (L/m^2)","func":"let rate_agent_spay = msg.payload/10000\nmsg.payload = rate_agent_spay;\nmsg.topic=\"rate_agent_spay\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":1680,"wires":[["a6f1fc6f.ce7fe","e4f60d8f.e5d9e"]],"icon":"font-awesome/fa-flask"},{"id":"6a63b99.9619d48","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"field area(m^2)","func":"let field_area_m2 = msg.payload *10000;\nmsg.payload = field_area_m2;\nmsg.topic = \"field_area_m2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":1640,"wires":[["a6f1fc6f.ce7fe"]],"icon":"font-awesome/fa-area-chart"},{"id":"97ed3786.73c638","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"total volume of agent for field (L)","func":"let total_volume_agent = msg.payload.field_area_m2 * msg.payload.rate_agent_spay\nmsg.payload=total_volume_agent;\nmsg.topic=\"total_volume_agent\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1750,"y":1660,"wires":[["d0fa9aab.6af0e8"]],"icon":"node-red/db.svg"},{"id":"a6f1fc6f.ce7fe","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1510,"y":1660,"wires":[["97ed3786.73c638"]]},{"id":"22559e27.704532","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"density of agent(kg/L)","func":"let density_agent= 1\nmsg.payload = density_agent\nmsg.topic = \"density_agent\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1780,"wires":[["5bed4fd0.35b7f"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"cfeda296.c3176","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"drone operating speed (m/s)","func":"let density_agent= 1\nmsg.payload = density_agent\nmsg.topic = \"density_agent\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1840,"wires":[["e4f60d8f.e5d9e"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"e621a617.4db6e8","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"drone spray width (m)","func":"let drone_spray = 10\nmsg.payload = drone_spray\nmsg.topic = \"drone_spray\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1900,"wires":[["e4f60d8f.e5d9e"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"c532ddda.38682","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"rate of agent spay time (L/s)","func":"let rate_agent_spay_time = msg.payload.density_agent * msg.payload.drone_spray * msg.payload.rate_agent_spay;\nmsg.payload = rate_agent_spay_time;\nmsg.topic=\"rate_agent_spay_time\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":1860,"wires":[["e3cdc750.ac5508"]],"icon":"font-awesome/fa-flask"},{"id":"e4f60d8f.e5d9e","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":1860,"wires":[["c532ddda.38682"]]},{"id":"2dcf0818.e9c218","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"power consumption rate","func":"let power_consumption = 35; \nmsg.payload = power_consumption;\nmsg.topic = \"power_consumption\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":2020,"wires":[["150d8a4.555e876","b882deb6.727b4","6b4810c7.20b7d"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"7d34af68.9e682","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"specific energy of fuel(J/kg)","func":"let specific_energy_fuel= 141900000\nmsg.payload = specific_energy_fuel;\nmsg.topic = \"specific_energy_fuel\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":2080,"wires":[["27d4dde9.303802"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"150d8a4.555e876","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1730,"y":2060,"wires":[["c19a357c.3b5ec8"]]},{"id":"c19a357c.3b5ec8","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"total_power","func":"let total_power = msg.payload.nominal_propulsion_power + msg.payload.power_consumption\nmsg.payload=total_power;\nmsg.topic=\"total_power\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":2080,"wires":[["121986d8.100a69","150ab534.d43bbb","5ab6ce17.aadba","840d037e.6c6cc"]],"icon":"node-red/light.svg"},{"id":"797b4373.ea22ac","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"UPDATE Mass of fuel tank (kg)","func":"let fuel_tank_mass = 1.7\nmsg.payload = fuel_tank_mass;\nmsg.topic = \"fuel_tank_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2750,"y":2280,"wires":[["6e4ee450.c8837c","9138f93e.5d9958"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"4879e9e1.e90d18","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"specific power fuel stack (W/kg)","func":"let specific_power_fuel_stack= 500;\nmsg.payload = specific_power_fuel_stack;\nmsg.topic = \"specific_power_fuel_stack\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":2180,"wires":[["121986d8.100a69"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"31f14202.b5eebe","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Mass of fuel cells stack","func":"let fuelcell_stackmass = (msg.payload.total_power/26)*0.025;\nmsg.payload=fuelcell_stackmass;\nmsg.topic=\"fuelcell_stackmass\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":2300,"wires":[["6e4ee450.c8837c","9138f93e.5d9958","e5bfd685.ca77f8"]],"icon":"node-red/leveldb.png"},{"id":"121986d8.100a69","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2070,"y":2180,"wires":[["31f14202.b5eebe"]]},{"id":"e730cd89.c9008","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"drone working time","func":"let working_time = msg.payload\nmsg.payload = working_time;\nmsg.topic=\"working_time\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":2080,"wires":[["b882deb6.727b4"]],"icon":"node-red/timer.svg"},{"id":"4a71de4.17b102","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Payload energy consumption","func":"let payload_energy= msg.payload.working_time * msg.payload.power_consumption\nmsg.payload = payload_energy;\nmsg.topic=\"payload_energy\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":2000,"wires":[[]],"icon":"font-awesome/fa-battery-4"},{"id":"b882deb6.727b4","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2000,"wires":[["4a71de4.17b102"]]},{"id":"5bed4fd0.35b7f","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Volume of payload tank","func":"let volume_payload_tank = msg.payload.payload_mass * msg.payload.density_agent \nmsg.payload = volume_payload_tank;\nmsg.topic=\"volume_payload_tank\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":1760,"wires":[[]]},{"id":"bdd912bd.b00bb","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"The total mass of energy subsystem (kg)","func":"let total_energy_mass = msg.payload.fuel_tank_mass + msg.payload.batteries_mass + msg.payload.fuel_mass +  msg.payload.fuelcell_stackmass;\nmsg.payload = total_energy_mass;\nmsg.topic=\"total_energy_mass\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2480,"y":2100,"wires":[["12697fa0.bd68a"]],"icon":"node-red/leveldb.png"},{"id":"86532a3d.4302c8","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Time for refill payload tank (s)","func":"let time_refill = 180\nmsg.payload = time_refill\nmsg.topic = \"time_refill\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1960,"wires":[["acc60986.142b98"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"cdd6d9f6.260628","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Volume of payload tank (L)","func":"let volume_payload_tank = 5\nmsg.payload = volume_payload_tank\nmsg.topic = \"volume_payload_tank\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1740,"wires":[["e3cdc750.ac5508","d0fa9aab.6af0e8"]],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"e3cdc750.ac5508","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1550,"y":1740,"wires":[["66aaea91.fd1b14"]]},{"id":"66aaea91.fd1b14","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Time for 1 cycle","func":"let time_1_cycle = msg.payload.volume_payload_tank / msg.payload.rate_agent_spay_time\nmsg.payload=time_1_cycle;\nmsg.topic=\"time_1_cycle\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":1740,"wires":[["5af86645.f9a418"]],"icon":"node-red/timer.svg"},{"id":"d0fa9aab.6af0e8","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1970,"y":1700,"wires":[["2168672f.4f2fa8"]]},{"id":"2168672f.4f2fa8","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Nimber of cycles","func":"let number_cycle = msg.payload.total_volume_agent / msg.payload.volume_payload_tank\nmsg.payload=number_cycle;\nmsg.topic=\"number_cycle\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2140,"y":1700,"wires":[["acc60986.142b98","5af86645.f9a418"]],"icon":"font-awesome/fa-sort-numeric-asc"},{"id":"4f4e217e.69fa5","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"time for refilling(s)","func":"let time_for_refilling = msg.payload.number_cycle * msg.payload.time_refill\nmsg.payload=time_for_refilling;\nmsg.topic=\"time_for_refilling\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2210,"y":1920,"wires":[["eb659659.c41478"]],"icon":"node-red/timer.svg"},{"id":"acc60986.142b98","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":1920,"wires":[["4f4e217e.69fa5"]]},{"id":"6b744112.8cbbc","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"operating time(s)","func":"let operating_time = msg.payload.time_for_refilling + msg.payload.time_spray\nmsg.payload=operating_time;\nmsg.topic=\"operating_time\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2210,"y":1980,"wires":[["947a1e29.42988","5adfdf1c.8d0ae"]],"icon":"node-red/timer.svg"},{"id":"eb659659.c41478","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":1960,"wires":[["6b744112.8cbbc"]]},{"id":"947a1e29.42988","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"operating time(min)","func":"let operating_time_min = msg.payload/60\nmsg.payload=operating_time_min;\nmsg.topic=\"operating_time_min\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":1980,"wires":[[]],"icon":"node-red/timer.svg"},{"id":"e4d9643.ffc7598","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Total Energy (J)","func":"let total_energy= (msg.payload.work_time * msg.payload.power_consumption)+(msg.payload.mission_time * msg.payload.nominal_propulsion_power)\nmsg.payload = total_energy;\nmsg.topic=\"total_energy\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":2140,"wires":[["27d4dde9.303802","b8d601e0.04ae2"]],"icon":"font-awesome/fa-battery"},{"id":"6b4810c7.20b7d","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1610,"y":2140,"wires":[["e4d9643.ffc7598"]]},{"id":"131a04ed.2c47db","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Time spray (s)","func":"let time_spray = msg.payload.number_cycle * msg.payload.time_1_cycle\nmsg.payload=time_spray;\nmsg.topic=\"time_spray\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":1940,"wires":[["e730cd89.c9008","eb659659.c41478","8dd42788.deef58"]],"icon":"node-red/timer.svg"},{"id":"5af86645.f9a418","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":1820,"wires":[["131a04ed.2c47db"]]},{"id":"8dd42788.deef58","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"payload working time (s)","func":"let work_time = msg.payload\nmsg.payload=work_time;\nmsg.topic=\"work_time\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":2140,"wires":[["6b4810c7.20b7d"]],"icon":"node-red/timer.svg"},{"id":"5adfdf1c.8d0ae","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"mission time (s)","func":"let mission_time = msg.payload\nmsg.payload=mission_time;\nmsg.topic=\"mission_time\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1940,"y":2040,"wires":[["6b4810c7.20b7d"]],"icon":"node-red/timer.svg"},{"id":"eaf67c7c.10e87","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"OLD mass of fuel (kg)","func":"let fuel_mass = msg.payload.total_energy / msg.payload.specific_energy_fuel\nmsg.payload = fuel_mass;\nmsg.topic=\"fuel_mass\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":2260,"wires":[["bbfd6029.b5e5","a645c1a8.7d634"]],"icon":"node-red/leveldb.png"},{"id":"27d4dde9.303802","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":2260,"wires":[["eaf67c7c.10e87"]]},{"id":"618173bc.46314c","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Mass of battery (kg)","func":"let battery_mass = 0.02*(msg.payload.fuel_mass + msg.payload.fuelcell_stackmass + msg.payload.fuel_tank_mass)\nmsg.payload = battery_mass;\nmsg.topic=\"battery_mass\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":2200,"wires":[["2f09ae3e.e6a972"]],"icon":"node-red/leveldb.png"},{"id":"6e4ee450.c8837c","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2250,"y":2280,"wires":[["618173bc.46314c"]]},{"id":"9138f93e.5d9958","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2230,"y":2100,"wires":[["bdd912bd.b00bb"]]},{"id":"4cb60168.34112","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"payload_mass","func":"let payload_mass = msg.payload.total_mass-(msg.payload.total_prop_mass+msg.payload.total_energy_mass + msg.payload.frame_mass)\nmsg.payload=payload_mass;\nmsg.topic=\"payload_mass\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":1820,"wires":[["14c583a6.2ecd3c","435d503b.c0a6","840d037e.6c6cc","529879f2.78eaa8"]],"icon":"node-red/leveldb.png"},{"id":"12697fa0.bd68a","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2490,"y":1820,"wires":[["4cb60168.34112"]]},{"id":"20bafaef.bfec46","type":"join","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1150,"y":2400,"wires":[["9b19dc8f.90842"]]},{"id":"9b19dc8f.90842","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"energy amesim model","func":"let command_string = \"python \" + msg.payload.base_path + \"Scripts/amesim_runner_script_py/Energy2/main.py \"+msg.payload.base_path+\" \"+msg.payload.power_fuel_stack+\" \"+msg.payload.battery_capacity; \nmsg.payload = command_string; \nmsg.topic=\"command_string\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":2400,"wires":[["ec981740.704588","bed639af.152c58"]]},{"id":"ec981740.704588","type":"exec","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Energy dynamics model","x":1610,"y":2400,"wires":[["a9cfeebb.06f73"],[],[]]},{"id":"bed639af.152c58","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":2500,"wires":[]},{"id":"63aa7f50.08c8","type":"fs-ops-access","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Test Energy Results","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":2340,"y":2400,"wires":[["5b0859da.a94bf8"],[]],"outputLabels":["start_flag exists","no start_flag"]},{"id":"8f152507.b61898","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Prepare energy results","func":"msg.filename = global.get(\"scripts_path\")+\"Project_folder/energy_result.txt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":2400,"wires":[["63aa7f50.08c8"]]},{"id":"4412b51a.94a4dc","type":"inject","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1870,"y":2400,"wires":[["8f152507.b61898"]]},{"id":"aacc9d3b.77c42","type":"json","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Convert to dict","property":"payload","action":"obj","pretty":false,"x":2480,"y":2520,"wires":[["488f4367.c99efc","136ff44f.b1fdfc","3ee241e3.0cd26e","8a1d54e8.d69df8","f8548801.767098"]]},{"id":"5b0859da.a94bf8","type":"file in","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Load data","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2280,"y":2520,"wires":[["aacc9d3b.77c42","a49f739f.20f2"]],"info":"# dsadsad\n### fdsfcsssssss"},{"id":"a49f739f.20f2","type":"file","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Delete enegry results","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2580,"y":2660,"wires":[[]],"icon":"font-awesome/fa-remove"},{"id":"488f4367.c99efc","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Fuel mass amesim","func":"let fuel_mass=msg.payload.fuel_mass;\nmsg.payload=fuel_mass;\nmsg.topic=\"fuel_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2710,"y":2500,"wires":[["797b4373.ea22ac","9138f93e.5d9958","6e4ee450.c8837c","fba36d6f.c242"]],"icon":"font-awesome/fa-arrows-v"},{"id":"136ff44f.b1fdfc","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Energy simulation result","func":"let energy_simulation=msg.payload.status;\nmsg.payload=energy_simulation;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2710,"y":2400,"wires":[["c9d5ff9f.908df"]],"icon":"font-awesome/fa-arrows-v"},{"id":"a41cfb8c.363df8","type":"fs-ops-access","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Test Propulsion Results","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":1930,"y":580,"wires":[["b3b1077b.cf4468"],[]],"outputLabels":["start_flag exists","no start_flag"]},{"id":"33436980.c4c576","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Prepare propulsion results","func":"msg.filename = global.get(\"scripts_path\")+\"Project_folder/propulsion_result.txt\";\nmsg.topic = \"filename\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1650,"y":580,"wires":[["a41cfb8c.363df8"]]},{"id":"ceb3c8b4.096ff8","type":"inject","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1290,"y":580,"wires":[["33436980.c4c576","a58ea0f2.0aea6"]]},{"id":"c0c3b27a.a6174","type":"json","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Convert to dict","property":"payload","action":"obj","pretty":false,"x":2060,"y":700,"wires":[["20bafaef.bfec46","5a693868.7bd368","ba28e5a0.bf5258"]]},{"id":"b3b1077b.cf4468","type":"file in","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Load data","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1860,"y":700,"wires":[["c0c3b27a.a6174","99df1945.a65e98","3c7692ab.e895ae"]],"info":"# dsadsad\n### fdsfcsssssss"},{"id":"99df1945.a65e98","type":"file","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Delete propolsion results","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2090,"y":780,"wires":[[]],"icon":"font-awesome/fa-remove"},{"id":"26ce9f0b.9ed4b","type":"function","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Nominal Propulsion Power Consumption(W)","func":"nominal_propulsion_power = 1000*msg.payload.total_mass/(8.5)*msg.payload.safety_factor;\nmsg.payload = nominal_propulsion_power ;\nmsg.topic=\"nominal_propulsion_power\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":1400,"wires":[["cd7067db.9c7c08","150d8a4.555e876","6b4810c7.20b7d"]],"icon":"node-red/light.svg"},{"id":"91c0b18b.a4d48","type":"join","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1790,"y":1400,"wires":[["26ce9f0b.9ed4b"]]},{"id":"150ab534.d43bbb","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2220,"y":2060,"wires":[]},{"id":"3ee241e3.0cd26e","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Mass of fuel tank","func":"let fuel_tank_mass=msg.payload.fuel_tank_mass;\nmsg.payload=fuel_tank_mass;\nmsg.topic=\"fuel_tank_mass\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2770,"y":2580,"wires":[["9138f93e.5d9958"]],"icon":"font-awesome/fa-arrows-v"},{"id":"a645c1a8.7d634","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Mass of fuel tank","func":"let  fuel_tank_mass = (24.7*msg.payload*1000+180)*0.001\nmsg.payload = fuel_tank_mass;\nmsg.topic=\"fuel_tank_mass\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2610,"y":1880,"wires":[["343b7465.1bbfec"]],"icon":"node-red/leveldb.png"},{"id":"343b7465.1bbfec","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2740,"y":1980,"wires":[]},{"id":"b8d601e0.04ae2","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1700,"y":2340,"wires":[]},{"id":"e5bfd685.ca77f8","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2090,"y":2360,"wires":[]},{"id":"bbfd6029.b5e5","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":2340,"wires":[]},{"id":"2f09ae3e.e6a972","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2590,"y":2160,"wires":[]},{"id":"f8548801.767098","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2260,"y":2620,"wires":[]},{"id":"8a1d54e8.d69df8","type":"function","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"Mass of the battery","func":"let batteries_mass=msg.payload.batteries_mass;\nmsg.payload=batteries_mass;\nmsg.topic=\"batteries_mass\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2790,"y":2640,"wires":[["9138f93e.5d9958"]],"icon":"font-awesome/fa-arrows-v"},{"id":"5a693868.7bd368","type":"debug","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2270,"y":600,"wires":[]},{"id":"14c583a6.2ecd3c","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2540,"y":1700,"wires":[]},{"id":"d9b6133f.fd7d5","type":"exec","z":"e987539d.b0c23","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Archive Python","x":760,"y":700,"wires":[["456a0bc2.411ed4"],["456a0bc2.411ed4"],["456a0bc2.411ed4"]]},{"id":"51983ef8.ec992","type":"function","z":"e987539d.b0c23","name":"Prepare data path","func":"archiever_path = global.get(\"scripts_path\")+\"Scripts/archiver/main.py\"\nbase_bath = global.get(\"scripts_path\")\nmsg.payload = 'py '+archiever_path+' '+base_bath\nmsg.topic=\"archive_python\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":700,"wires":[["d9b6133f.fd7d5"]]},{"id":"456a0bc2.411ed4","type":"debug","z":"e987539d.b0c23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":700,"wires":[]},{"id":"436631b5.e1a1b","type":"debug","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":920,"wires":[]},{"id":"a58ea0f2.0aea6","type":"debug","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":700,"wires":[]},{"id":"3c7692ab.e895ae","type":"debug","z":"ce8b0ac3.2bf518","g":"f49e0116.5a674","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":640,"wires":[]},{"id":"a9cfeebb.06f73","type":"debug","z":"ce8b0ac3.2bf518","g":"b799269b.48a7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1800,"y":2480,"wires":[]},{"id":"e73c5c75.329b","type":"change","z":"1a0c152d.d2bceb","name":"power of fuel cell stack","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power_fuel_stack","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"power_fuel_stack","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":380,"wires":[["cff5777f.448b78"]],"icon":"font-awesome/fa-sign-in"},{"id":"835b7d02.f8c1","type":"change","z":"1a0c152d.d2bceb","name":"capacity of battary","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_capacity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"battery_capacity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":540,"wires":[["cff5777f.448b78"]],"icon":"font-awesome/fa-sign-in"},{"id":"60867c1.c3d8a84","type":"change","z":"1a0c152d.d2bceb","name":"total mass","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.total_mass","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"total_mass","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":300,"wires":[["6e57a75f.592c58"]],"icon":"font-awesome/fa-sign-in"},{"id":"1d8ca497.4d00fb","type":"function","z":"1a0c152d.d2bceb","name":"base path","func":"msg.payload = global.get(\"scripts_path\");\nmsg.topic=\"base_path\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":620,"wires":[["6e57a75f.592c58","cff5777f.448b78"]]},{"id":"962a713b.1ec9b","type":"change","z":"1a0c152d.d2bceb","name":"number of mission","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mission_number","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"mission_number","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":460,"wires":[["c8be3f20.e9254"]],"icon":"font-awesome/fa-sign-in"},{"id":"c8be3f20.e9254","type":"function","z":"1a0c152d.d2bceb","name":"relative mission path","func":"if (msg.payload == 1){\n    msg.payload = \"Missions/mission1.data\";\n    msg.topic=\"mission_path\";\n    return msg;\n}\nif (msg.payload == 2){\n    msg.payload = \"Missions/mission2.data\";\n    msg.topic=\"mission_path\";\n    return msg;\n}\nif (msg.payload == 3){\n    msg.payload = \"Missions/mission3.data\";\n    msg.topic=\"mission_path\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["6e57a75f.592c58"]]},{"id":"6e57a75f.592c58","type":"join","z":"1a0c152d.d2bceb","name":"Join propulsion","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":980,"y":460,"wires":[["4f20e106.f6f09"]]},{"id":"4f20e106.f6f09","type":"function","z":"1a0c152d.d2bceb","name":"propolsion amesim","func":"let command_string = \"python \" + msg.payload.base_path + \"Scripts/amesim_runner_script_py/Flight2/main.py \"+msg.payload.base_path+\" \"+msg.payload.mission_path+\" \"+msg.payload.total_mass; \nmsg.payload = command_string; \nmsg.topic=\"command_string\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":460,"wires":[["b63be1eb.05dec","f0021827.d1b448"]]},{"id":"b63be1eb.05dec","type":"exec","z":"1a0c152d.d2bceb","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Flight dycamics model","x":1440,"y":460,"wires":[[],[],[]]},{"id":"b697ddcb.18c32","type":"inject","z":"1a0c152d.d2bceb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1690,"y":460,"wires":[["eacc3fdf.733b6"]]},{"id":"eacc3fdf.733b6","type":"function","z":"1a0c152d.d2bceb","name":"Prepare propulsion results","func":"msg.filename = global.get(\"scripts_path\")+\"Project_folder/propulsion_result.txt\";\nmsg.topic = \"filename\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":460,"wires":[["b0f9b58c.207fb8"]]},{"id":"b0f9b58c.207fb8","type":"fs-ops-access","z":"1a0c152d.d2bceb","name":"Test Propulsion Results","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":2170,"y":460,"wires":[["4aad7621.e6f508"],[]],"outputLabels":["start_flag exists","no start_flag"]},{"id":"4aad7621.e6f508","type":"file in","z":"1a0c152d.d2bceb","name":"Load data","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2400,"y":460,"wires":[["7141d74c.228138","d6d0a969.edc4e8"]],"info":"# dsadsad\n### fdsfcsssssss"},{"id":"7141d74c.228138","type":"json","z":"1a0c152d.d2bceb","name":"Convert to dict","property":"payload","action":"obj","pretty":false,"x":2580,"y":520,"wires":[["cefcdc06.c9881","cff5777f.448b78","2853e53e.a3eeda"]]},{"id":"cff5777f.448b78","type":"join","z":"1a0c152d.d2bceb","name":"Join Energy","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":620,"wires":[["8eb743a8.7931b"]]},{"id":"8eb743a8.7931b","type":"function","z":"1a0c152d.d2bceb","name":"energy amesim model","func":"let command_string = \"python \" + msg.payload.base_path + \"Scripts/amesim_runner_script_py/Energy2/main.py \"+msg.payload.base_path+\" \"+msg.payload.power_fuel_stack+\" \"+msg.payload.battery_capacity; \nmsg.payload = command_string; \nmsg.topic=\"command_string\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":620,"wires":[["fd14c3b7.d0561","379a3e90.ab13d2"]]},{"id":"379a3e90.ab13d2","type":"exec","z":"1a0c152d.d2bceb","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Energy dynamics model","x":1450,"y":620,"wires":[[],[],[]]},{"id":"e98d896d.a0ab48","type":"inject","z":"1a0c152d.d2bceb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1690,"y":620,"wires":[["d7748c4f.18b32"]]},{"id":"d7748c4f.18b32","type":"function","z":"1a0c152d.d2bceb","name":"Prepare energy results","func":"msg.filename = global.get(\"scripts_path\")+\"Project_folder/energy_result.txt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":620,"wires":[["5189dedf.8fff8"]]},{"id":"5189dedf.8fff8","type":"fs-ops-access","z":"1a0c152d.d2bceb","name":"Test Energy Results","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":2160,"y":620,"wires":[["7cd4c3f4.d6cf4c"],[]],"outputLabels":["start_flag exists","no start_flag"]},{"id":"7cd4c3f4.d6cf4c","type":"file in","z":"1a0c152d.d2bceb","name":"Load data","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2380,"y":620,"wires":[["e2f2e39f.7cdd2","e6b4ad7c.dd0cf"]],"info":"# dsadsad\n### fdsfcsssssss"},{"id":"e2f2e39f.7cdd2","type":"json","z":"1a0c152d.d2bceb","name":"Convert to dict","property":"payload","action":"obj","pretty":false,"x":2580,"y":680,"wires":[["a3f49b5c.afd598","8b6b7dac.c0d53","b953bf23.df47b","527f2ec1.3d6bc","b6c4af99.ab199"]]},{"id":"e6b4ad7c.dd0cf","type":"file","z":"1a0c152d.d2bceb","name":"Delete enegry results","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2600,"y":580,"wires":[[]],"icon":"font-awesome/fa-remove"},{"id":"d6d0a969.edc4e8","type":"file","z":"1a0c152d.d2bceb","name":"Delete propolsion results","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"delete","encoding":"none","x":2610,"y":400,"wires":[[]],"icon":"font-awesome/fa-remove"},{"id":"a3f49b5c.afd598","type":"function","z":"1a0c152d.d2bceb","name":"Energy simulation result","func":"let energy_simulation=msg.payload.status;\nmsg.payload=energy_simulation;\nmsg.topic=\"energy_simulation\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2930,"y":620,"wires":[["fe0f6922.cacef8"]],"icon":"font-awesome/fa-arrows-v"},{"id":"8b6b7dac.c0d53","type":"function","z":"1a0c152d.d2bceb","name":"Fuel mass amesim","func":"let fuel_mass=msg.payload.fuel_mass;\nmsg.payload=fuel_mass;\nmsg.topic=\"fuel_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2910,"y":660,"wires":[["fe0f6922.cacef8"]],"icon":"font-awesome/fa-arrows-v"},{"id":"b953bf23.df47b","type":"function","z":"1a0c152d.d2bceb","name":"Mass of fuel tank","func":"let fuel_tank_mass=msg.payload.fuel_tank_mass;\nmsg.payload=fuel_tank_mass;\nmsg.topic=\"fuel_tank_mass\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2910,"y":700,"wires":[[]],"icon":"font-awesome/fa-arrows-v"},{"id":"527f2ec1.3d6bc","type":"function","z":"1a0c152d.d2bceb","name":"Mass of the battery","func":"let batteries_mass=msg.payload.batteries_mass;\nmsg.payload=batteries_mass;\nmsg.topic=\"batteries_mass\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2910,"y":740,"wires":[[]],"icon":"font-awesome/fa-arrows-v"},{"id":"cefcdc06.c9881","type":"function","z":"1a0c152d.d2bceb","name":"Propulsion simulation result","func":"let propulsion_simulation=msg.payload.status;\nmsg.payload=propulsion_simulation;\nmsg.topic=\"propulsion_simulation\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2940,"y":520,"wires":[["fe0f6922.cacef8"]],"icon":"font-awesome/fa-arrows-v"},{"id":"fe0f6922.cacef8","type":"join","z":"1a0c152d.d2bceb","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3310,"y":620,"wires":[[]]},{"id":"467e0c8c.221134","type":"link out","z":"1a0c152d.d2bceb","name":"Results out","links":["5fd453eb.f97e0c","8a399bd8.4dbfa8","f431238b.7cbed"],"x":3475,"y":620,"wires":[]},{"id":"435d503b.c0a6","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"payload mass (kg)","func":"let payload_mass = msg.payload;\nmsg.payload=payload_mass;\nmsg.topic=\"payload_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3270,"y":1040,"wires":[["58aa571d.25e338"]],"icon":"node-red/leveldb.png"},{"id":"5ab6ce17.aadba","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"total power (w)","func":"let total_power = msg.payload;\nmsg.payload=total_power;\nmsg.topic=\"total_power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3260,"y":920,"wires":[["58aa571d.25e338"]],"icon":"node-red/light.svg"},{"id":"3b307046.7c94a","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Diameter of drone (m)","func":"let daim_of_drone = msg.payload;\nmsg.payload=daim_of_drone;\nmsg.topic=\"diam_of_drone\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3280,"y":660,"wires":[["58aa571d.25e338"]],"icon":"font-awesome/fa-arrows-v"},{"id":"1485ccea.f1ff13","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Payload mass / power consumption","func":"let payload_vs_power = msg.payload.payload_mass/msg.payload.total_power;\nmsg.payload=payload_vs_power;\nmsg.topic=\"payload_vs_power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3320,"y":820,"wires":[["58aa571d.25e338"]],"icon":"node-red/cog.svg"},{"id":"2e70ee04.5c19f2","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Payload mass / total mass","func":"let payload_vs_total_mass = msg.payload.payload_mass / msg.payload.total_mass; \nmsg.payload=payload_vs_total_mass;\nmsg.topic=\"payload_vs_total_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3290,"y":740,"wires":[["58aa571d.25e338"]],"icon":"node-red/cog.svg"},{"id":"840d037e.6c6cc","type":"join","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3070,"y":820,"wires":[["1485ccea.f1ff13"]]},{"id":"529879f2.78eaa8","type":"join","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3110,"y":740,"wires":[["2e70ee04.5c19f2"]]},{"id":"58aa571d.25e338","type":"join","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3670,"y":820,"wires":[["74ff5efe.25ead"]]},{"id":"c9d5ff9f.908df","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Energy simulation result","func":"let energy_simulation=msg.payload;\nmsg.payload=energy_simulation;\nmsg.topic=\"energy_simulation\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3290,"y":1120,"wires":[["58aa571d.25e338"]],"icon":"font-awesome/fa-arrows-v"},{"id":"fba36d6f.c242","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Fuel mass","func":"let fuel_mass=msg.payload;\nmsg.payload=fuel_mass;\nmsg.topic=\"fuel_mass\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3250,"y":1200,"wires":[["58aa571d.25e338"]],"icon":"font-awesome/fa-arrows-v"},{"id":"ba28e5a0.bf5258","type":"function","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Propulsion simulation result","func":"let propulsion_simulation=msg.payload.status;\nmsg.payload=propulsion_simulation;\nmsg.topic=\"propulsion_simulation\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3300,"y":520,"wires":[["58aa571d.25e338"]],"icon":"font-awesome/fa-arrows-v"},{"id":"74ff5efe.25ead","type":"link out","z":"ce8b0ac3.2bf518","g":"600efc8e.a55dd4","name":"Results out","links":["5fd453eb.f97e0c","8a399bd8.4dbfa8","f431238b.7cbed"],"x":3815,"y":820,"wires":[]},{"id":"98d469fa.3a31e8","type":"comment","z":"e9c16e0d.89e62","name":"","info":"No problem found in Job data gathering\n","x":930,"y":660,"wires":[]},{"id":"68f65520.5dedec","type":"debug","z":"e9c16e0d.89e62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":380,"wires":[]},{"id":"f0021827.d1b448","type":"debug","z":"1a0c152d.d2bceb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":280,"wires":[]},{"id":"fd14c3b7.d0561","type":"debug","z":"1a0c152d.d2bceb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":780,"wires":[]},{"id":"2853e53e.a3eeda","type":"debug","z":"1a0c152d.d2bceb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2890,"y":460,"wires":[]},{"id":"b6c4af99.ab199","type":"debug","z":"1a0c152d.d2bceb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2890,"y":800,"wires":[]},{"id":"3b1f268.41be4da","type":"link in","z":"1a0c152d.d2bceb","name":"Param_dict_in","links":["7539b9f6.093688"],"x":55,"y":440,"wires":[[]]},{"id":"7bd2191e.b6f1a8","type":"link in","z":"ce8b0ac3.2bf518","g":"7d027004.da49f","name":"Param_dict_in","links":["7539b9f6.093688"],"x":115,"y":880,"wires":[["4f3d380f.d2e738","415fe67b.e9b3d8","877e56e9.e172d8","13db04de.9e22bb","e0115372.c4cfd","5d78f1c1.36524"]]}]